body{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Dimension*/
    margin: 0;
    display: flex;
    min-height: 100vh;
    padding: 5px;
    box-sizing: border-box; /*This is prevents border and padding from adding more space to size*/
    /* Background settings */
    background-color: black;
    background-repeat: no-repeat; 
    background-size:cover; /*This prevent bg from resizing*/

}
.container .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    /*Content alignment*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    /* Size of the container div*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: inherit;
    max-height: 500px;
    height: 500px;
    max-width: 800px;

    /* Decoration */
    background-color: rgb(111, 95, 5);
    border-radius: 10px;
}

.container .head{
    font-size: 30px;
    color: cadetblue;
    font-weight: bold;
    align-items: center;
}

.container .buttons{
    display: flex;
    justify-content: space-around;
    color: aqua;
    flex-direction: row;


}

.prompt{
    font-size: 30px;
}
button{
    /*Animation settings*/
    transition-duration: 0.4s;
    /*Button size*/
    padding: 10px;
    margin: 15px;
    width: 90px;
    height: 100px;
    box-sizing: border-box;
    

    /*Button design*/
    
    font-size: 35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    border:5px solid rgb(0, 255, 68);
    background-color: green;
}
button:hover{
    background-color:rgb(123, 6, 27);
    color: aliceblue;
    transform: scale(1.2); /*Prevents the item moving all*/
    box-sizing: border-box;
    border: solid rgb(102, 255, 0);
    box-shadow: 0 0 1rem rgb(191, 255, 0); /*Shadow of the boxes*/

}

img{
    border-radius: 10px;
    max-height: 250px;
}



